<section class="about">
  {% if include.divider == true %}
    <div class="wrap"><hr/></div>
    {% endif %}
  <div class="wrap grid">

    <div class="about__image">
      <img src="{{ '/images/profile.png' | relative_url }}" alt="">

      {% include component-socials.html %}
    </div>

    <div class="about__content">
      <h2 class="title">Hey, I’m Aaron, nice to meet you!</h2>
      <p class="subtitle subtitle--light">I am a product guy who started working in startup space with 5 years of experience under my belt.
      </p>

      <p>I had experience in managing a team of 12 and also international talents. My skills include product management, digital marketing, system design, prototyping, system implementation, business pitching, and business negotiation. I am interested in bringing products to life and impact other’s life.
      </p>
      <p>During my free time, I would do some coding, crypto trading and enjoy driving around the city. I am also a big fan of backpacking travel. I have been to more than twenty countries in Europe, ten countries in Asia, and United States. I can’t wait to go on trips again after this pandemic time!</p>

      <!-- <a href="#" class="cta button--fill contact-trigger js-contact">Get in Touch</a> -->
    </div>
  </div>
</section>